h1{
    color: azure;
    background-color: brown;
}





    h2{
        color: white;
        background-color: tomato;
        padding: 10px;
        margin: 10px;
        border-width: 3px;
        border-color: black;
        border-style: solid;
    }
